.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

@media (max-width: 991px) {
  html,body{
      height: 100%;
      /* Firefox */
      height: -moz-calc(100% - 32.5px);
      /* WebKit */
      height: -webkit-calc(100% - 32.5px);
      /* Opera */
      height: -o-calc(100% - 32.5px);
      /* Standard */
      height: calc(100% - 32.5px);
  }
}

@media (min-width: 992px) {
  html,body{
      height: 100%;
      /* Firefox */
      height: -moz-calc(100% - 50px);
      /* WebKit */
      height: -webkit-calc(100% - 50px);
      /* Opera */
      height: -o-calc(100% - 50px);
      /* Standard */
      height: calc(100% - 50px);
  }
}

#holder{
    min-height: 100%;
    padding-bottom: 30px;

    position:relative;
}

#holder .c-content-box{
    padding-bottom: 100px;    /* height of footer */
}

footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}

/* Textarea song verses height */
textarea.textarea-verse {
  height: 150px;
}

/* Remove gap between menu and submenu */
.dropdown-submenu > .dropdown-menu{
  margin-left:0;
}
