{% extends 'base.html.twig' %}
{% block body %}

<div class="col-md-8">
    <p>{% trans %}USERS_MESSAGE_CHANGE_PASSWORD{% endtrans %}</p>
    <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.password) }}
        {{ form_end(form) }}
    <!-- END: CONTENT/USER/LOGIN-FORM -->
</div>

{% endblock %}